@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);
 
body {
    background: #eee;
    margin:0;
    font-family: 'Open Sans', sans-serif;
}
.head{
    height: 400px;
    background-image: url('howtoovercom.jpg');
    background-size: 100%;
    margin-left: 290px;
    margin-right: 295px;
}
hr {
    border:0;
    background:#dedede;
    height:1px;
}       
 
header{
    text-align: center;
    color: #232323;
}
 
.wrap {
    width: 950px;
    margin-bottom:25px;
    margin-left: 290px;
    margin-right: 290px;
}
nav.menu ul {
    overflow:hidden;
    color:#fff;
    list-style: none;
    float:left;
    padding:0;
    width: 100%;
    margin:0 0 0;
    background: #ff9785;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
    -moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
    box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
}
 
nav.menu ul li {
    margin:0;
    float:left;
}
 
nav.menu ul a {
    padding:25px;
    display:block;
    font-weight:600;
    font-size: 16px;
    color:#fff;
    text-transform: uppercase;
    transition: all 0.5s ease;
    text-decoration: none;
}
 
nav.menu ul a:hover {
    text-decoration: underline;
    background:#fa5e42;
}
.blog {
    float:left;
}
 
.conteudo {
    width:900px;
    padding:25px;
    margin:25px auto;
    background: #fff;
    border:1px solid #dedede;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
    -moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
    box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
}
 
 
@media screen and (max-width: 960px) {
 
    .header {
        position:inherit;
    }
 
    .wrap {
        width: 90%;
        margin:25px auto;
    }
 
    nav.menu ul {
        width: 100%;
    }
 
    nav.menu ul {
        float:inherit;
    }
 
    nav.menu ul li {
        float:inherit;
        margin:0;
    }
 
    nav.menu ul a {
        padding:15px;
        font-size: 16px;
        border-top:1px solid#ff9785;
        border-bottom:1px solid #ff9785;
    }
 
    .blog {
        width:90%;
    }
 
    .conteudo {
        float:inherit;
        margin:0 auto 25px;
        width:101%;
        border:1px solid #dedede;
        padding:5%;  
        background: #fff;
    }
 
 
}
 
@media screen and (max-width: 460px) {
 
    nav.menu ul a {
        padding:15px;
        font-size: 14px;
    }
 
    .conteudo {
        margin:25px auto;
    }       
}
 
